# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Check python-lama-lint is alive.'
      'command': 'python-lama-lint:alive'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'python-lama-alive'
      'submenu': [
        {
          'label': 'Am I alive?'
          'command': 'python-lama-lint:alive'
        }
      ]
    ]
  }
]
